<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Component Test Page</title>

    <script src="packages/web_components/webcomponents.min.js"></script>

    <script async type="application/dart" src="app_initialize.dart"></script>
    <script async type="application/javascript" src="packages/browser/dart.js"></script>

    <style>
        [ng-cloak], [data-ng-cloak], .ng-cloak, .ng-hide {
            display: none !important;
        }
    </style>
</head>
<body>

<h1> Test Page</h1>
<p>
    This is a test page to see your component in action. <br>
    When using this component in another project, only the stuff in lib will be imported
</p>

<jb-file-import files="files" allowed-types="allowedTypes"></jb-file-import>

<div ng-cloak style="background: goldenrod;">
    <p ng-repeat="file in files">
        Filename: {{file.name}} <br>
        Relative Path: {{file.relativePath}} <br>
        Size: {{file.size}}
        Type: {{file.type}}
    </p>
</div>

</body>
</html>